---
// Enable SSR for this specific page
export const prerender = false;

import AchievementFilter from "@/components/achievements/AchievementFilter.astro";
import AchievementList from "@/components/achievements/AchievementList.astro";
import PaginationLink from "@/components/achievements/PaginationLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const PAGE_SIZE = 10;
const searchParams = Astro.url.searchParams;
const query = searchParams.getAll("tags");

const pageParam = parseInt(searchParams.get("page") || "1", 10);
let currentPage = Math.max(1, Number.isNaN(pageParam) ? 1 : pageParam);

const allAchievements = await getCollection("achievements");

const tagCountMap = allAchievements.reduce((acc, achievement) => {
  achievement.data.tags.forEach((tag) => acc.set(tag, (acc.get(tag) || 0) + 1));
  return acc;
}, new Map<string, number>());

const allTags = Array.from(tagCountMap.entries())
  .map((entry) => ({ name: entry[0], count: entry[1] }))
  .sort((a, b) => a.name.localeCompare(b.name));

const sortedAchievements = allAchievements
  .filter((achievement) => query.every((tag) => achievement.data.tags.includes(tag)))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const totalPages = Math.max(1, Math.ceil(sortedAchievements.length / PAGE_SIZE));
currentPage = Math.min(currentPage, totalPages);

const paginatedAchievements = sortedAchievements.slice(
  (currentPage - 1) * PAGE_SIZE,
  currentPage * PAGE_SIZE,
);

const createPageUrl = (page: number) => {
  const params = new URLSearchParams(searchParams);
  params.set("page", page.toString());
  return `?${params.toString()}`;
};
---

<BaseLayout pageTitle="研究実績">
  <div class="max-w-5xl w-full mx-auto px-4 py-4 gap-3 flex flex-col">
    <AchievementFilter allTags={allTags} query={query} />
    <AchievementList achievements={paginatedAchievements} />
    <nav class="flex justify-center items-center space-x-2 mt-5">
      {
        currentPage > 1 && (
          <>
            <PaginationLink href={createPageUrl(1)} title="最初のページへ">
              &lt;&lt;
            </PaginationLink>
            <PaginationLink href={createPageUrl(currentPage - 1)} title="前のページへ">
              {currentPage - 1}
            </PaginationLink>
          </>
        )
      }

      <PaginationLink href="#" title="現在のページ" isDisabled={true}>
        {currentPage}
      </PaginationLink>

      {
        currentPage < totalPages && (
          <>
            <PaginationLink href={createPageUrl(currentPage + 1)} title="次のページへ">
              {currentPage + 1}
            </PaginationLink>
            <PaginationLink href={createPageUrl(totalPages)} title="最後のページへ">
              &gt;&gt;
            </PaginationLink>
          </>
        )
      }
    </nav>
  </div>
</BaseLayout>
