---
import Header from "../components/layout/Header.astro";
import "../styles/global.css";
import Footer from "../components/layout/Footer.astro";

const {
  pageTitle,
  description = "京都工芸繊維大学 情報工学 情報知能システム研究室のウェブサイトです。知能システム、特に人工知能の最先端である「計算知能」と「機械学習」を研究しています。",
  image = "/images/hero-image.jpg",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url);
const absoluteImageURL = new URL(image, Astro.site || Astro.url);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | 情報知能システム研究室</title>
    <meta name="description" content={description} />
    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={`${pageTitle} | 情報知能システム研究室`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={absoluteImageURL} />
  </head>
  <body class="bg-gray-50 px-4 flex flex-col">
    <Header pageTitle={pageTitle} />
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>
