---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  page: Page & {
    data: CollectionEntry<"news">[] | CollectionEntry<"achievements">[];
  };
}

import PaginationLink from "@/components/ui/PaginationLink.astro";

const { page } = Astro.props;
---

<nav class="flex justify-center items-center space-x-2 mt-5">
  {
    page.url.first && page.currentPage > 1 && (
      <PaginationLink href={page.url.first} title="最初のページへ">
        &lt;&lt;
      </PaginationLink>
    )
  }

  {
    page.url.prev && (
      <PaginationLink href={page.url.prev} title="前のページへ">
        {page.currentPage - 1}
      </PaginationLink>
    )
  }

  <PaginationLink href="#" title="現在のページ" isDisabled={true}>
    {page.currentPage}
  </PaginationLink>

  {
    page.url.next && (
      <PaginationLink href={page.url.next} title="次のページへ">
        {page.currentPage + 1}
      </PaginationLink>
    )
  }

  {
    page.url.last && page.currentPage < page.lastPage && (
      <PaginationLink href={page.url.last} title="最後のページへ">
        &gt;&gt;
      </PaginationLink>
    )
  }
</nav>
